@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");

@import "~bootstrap/scss/bootstrap";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 100;
}

* {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.wtp-icon {
  width: 1.8rem;
}

.wtp-icon-lg {
  width: 2.8rem;
}
