@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");

@import "~bootstrap/scss/bootstrap";

$h2c-blue: #00a8ff;

.fa {
  transition: all .2s ease-in-out;
}

.fa:hover {
  color: $h2c-blue;
}
